/*---BASE---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden; }

body {
  font-family: sans-serif;
  line-height: 1; }

img {
  max-width: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }

/*---LAYOUTS---*/
.wrapper {
  padding: 0 25px;
  width: calc(100% - 50px);
  max-width: 1140px;
  margin: 0 auto; }

body {
  overflow-y: scroll; }

.overflow {
  -webkit-overflow-scrolling: touch; }

/*---HEADER---*/
.header {
  background-color: #091220; }
  .header .section-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .section-header .nav {
      display: flex;
      align-items: center; }
      @media (max-width: 768px) {
        .header .section-header .nav {
          display: none; } }
    .header .section-header .call_button {
      display: flex;
      align-items: center;
      min-width: 350px; }
    .header .section-header .menu {
      display: none; }
      @media (max-width: 768px) {
        .header .section-header .menu {
          display: block;
          cursor: pointer; } }
    .header .section-header a {
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      text-decoration: none;
      font-family: 'Source Sans Pro', sans-serif;
      text-align: center; }
      @media (max-width: 1146px) {
        .header .section-header a {
          font-size: 12px; } }
    .header .section-header .logo {
      margin-right: 25px; }
      @media (max-width: 1146px) {
        .header .section-header .logo {
          margin-right: 20px; } }
      @media (max-width: 1000px) {
        .header .section-header .logo {
          margin-right: 10px; } }
    .header .section-header .nav-friend {
      visibility: hidden;
      margin-right: 20px; }
      @media (max-width: 1056px) {
        .header .section-header .nav-friend {
          margin-right: 0px; } }
      @media (max-width: 1000px) {
        .header .section-header .nav-friend {
          margin-right: 5px; } }
    .header .section-header .nav-faq {
      visibility: hidden;
      margin-right: 20px; }
      @media (max-width: 1056px) {
        .header .section-header .nav-faq {
          margin-right: 0px; } }
      @media (max-width: 1000px) {
        .header .section-header .nav-faq {
          margin-right: 5px; } }
    .header .section-header .nav-call {
      visibility: hidden;
      margin-right: 20px; }
      @media (max-width: 1146px) {
        .header .section-header .nav-call {
          margin-right: 15px; } }
    .header .section-header .nav-trust {
      visibility: hidden;
      margin-right: 30px; }
      @media (max-width: 1000px) {
        .header .section-header .nav-trust {
          margin-right: 15px; } }
    .header .section-header .nav-telephone-img {
      margin-right: 5px; }
    .header .section-header .nav-telephone {
      font-family: 'PT Serif' !important;
      margin-right: 16px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 26px;
      text-align: center; }
      @media (max-width: 1146px) {
        .header .section-header .nav-telephone {
          font-size: 15px; } }
    .header .section-header .nav-telephone-laptop {
      font-family: 'PT Serif' !important;
      margin-right: 16px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 26px;
      text-align: center; }
      @media (max-width: 1146px) {
        .header .section-header .nav-telephone-laptop {
          font-size: 15px; } }
    .header .section-header .nav-button {
      padding: 15px 17px;
      background-color: #439BFF;
      border: 1px solid #000000;
      border-radius: 2px; }
      .header .section-header .nav-button:hover {
        background-color: #00B2FF; }
      .header .section-header .nav-button:active {
        background-color: #0077FF; }
      .header .section-header .nav-button p {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 600;
        line-height: 14px;
        font-style: normal; }
        @media (max-width: 1146px) {
          .header .section-header .nav-button p {
            font-size: 15px; } }
      @media (max-width: 1146px) {
        .header .section-header .nav-button {
          padding: 10px 12px; } }
  .header .newNav {
    margin-top: 18px;
    display: none;
    flex-direction: column; }
    .header .newNav a {
      text-decoration: none;
      font-family: 'PT Serif';
      line-height: 26px;
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 30px; }
    .header .newNav .nav-trust {
      margin-bottom: 150px; }
    .header .newNav .numb {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px; }
      .header .newNav .numb .nav-telephone {
        font-family: 'PT Serif';
        margin-left: 10px;
        line-height: 30px;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 0px; }
      .header .newNav .numb .nav-telephone-laptop {
        font-family: 'PT Serif';
        margin-left: 10px;
        line-height: 30px;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 0px; }
    .header .newNav .nav-button {
      margin-bottom: 25px;
      padding: 15px 60px;
      background-color: #439BFF;
      border: 1px solid #000000;
      border-radius: 2px; }
      .header .newNav .nav-button:hover {
        background-color: #00B2FF; }
      .header .newNav .nav-button:active {
        background-color: #0077FF; }
      .header .newNav .nav-button p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        line-height: 14px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase; }

/*---MODULES---*/
.banner {
  background: url(../img/banner@2x.jpg) no-repeat center 0%;
  background-size: 1920px 688px; }
  @media (max-width: 320px) {
    .banner {
      background: none; } }
  @media (max-width: 690px) {
    .banner .wrapper {
      padding: 0px;
      width: 100%; } }
  .banner .banner_pic_320 {
    display: none;
    width: 100%; }
    @media (max-width: 690px) {
      .banner .banner_pic_320 {
        display: block;
        min-width: 320px;
        min-height: 268px; } }
  .banner .section-banner {
    display: flex;
    flex-direction: column;
    padding: 35px 0px 80px 0px; }
    @media (max-width: 690px) {
      .banner .section-banner {
        padding: 0; } }
    @media (max-width: 690px) {
      .banner .section-banner .banner-text {
        background-color: #EDF2F5; } }
    .banner .section-banner .banner-main-text {
      font-family: 'PT Serif';
      line-height: 67px;
      font-size: 56px;
      color: #091220;
      margin-bottom: 25px; }
      @media (max-width: 690px) {
        .banner .section-banner .banner-main-text {
          line-height: 40px;
          font-size: 32px;
          text-align: center;
          margin: 5px 0px 15px 0px; } }
      @media (max-width: 320px) {
        .banner .section-banner .banner-main-text {
          line-height: 30px;
          font-size: 24px;
          text-align: center;
          margin: 5px 0px 15px 0px; } }
      .banner .section-banner .banner-main-text span {
        color: #439BFF; }
    .banner .section-banner .banner-sub-text {
      font-family: 'PT Serif';
      line-height: 30px;
      font-size: 24px;
      color: #091220;
      margin-bottom: 45px; }
      @media (max-width: 690px) {
        .banner .section-banner .banner-sub-text {
          line-height: 26px;
          font-size: 18px;
          text-align: center;
          margin-bottom: 25px; } }
      @media (max-width: 320px) {
        .banner .section-banner .banner-sub-text {
          line-height: 22px;
          font-size: 14px;
          text-align: center;
          margin-bottom: 25px; } }
    .banner .section-banner form {
      padding: 30px;
      background-color: #ffffff;
      width: 580px;
      border: 1px solid rgba(255, 255, 255, 0.12);
      box-shadow: 0px 4px 24px rgba(37, 73, 127, 0.09);
      border-radius: 2px; }
      @media (max-width: 690px) {
        .banner .section-banner form {
          width: auto;
          padding: 17px 25px 30px 25px;
          border: none;
          box-shadow: none; } }
      @media (max-width: 320px) {
        .banner .section-banner form {
          width: 260px;
          padding: 17px 25px 30px 25px; } }
      .banner .section-banner form .form-text {
        text-align: center;
        margin-bottom: 25px;
        font-family: 'PT Serif';
        line-height: 30px;
        font-size: 24px; }
        @media (max-width: 690px) {
          .banner .section-banner form .form-text {
            line-height: 26px;
            font-size: 18px;
            text-align: center; } }
      .banner .section-banner form .input {
        margin-bottom: 20px;
        width: 100%;
        display: flex; }
        @media (max-width: 690px) {
          .banner .section-banner form .input {
            display: block; } }
        .banner .section-banner form .input .form-name {
          background: url(../img/svg/icons-lock.svg) no-repeat 94% 50%;
          padding: 10px 0px 10px 15px;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 22px;
          font-size: 14px;
          color: #84858C;
          width: calc(50% - 25px);
          border: 1px solid #E1E1E1;
          border-radius: 2px;
          margin-right: 20px; }
          @media (max-width: 690px) {
            .banner .section-banner form .input .form-name {
              width: calc(100% - 15px);
              margin-right: 0px;
              margin-bottom: 20px; } }
          @media (max-width: 320px) {
            .banner .section-banner form .input .form-name {
              width: 253px; } }
        .banner .section-banner form .input .form-number {
          background: url(../img/svg/icons-lock.svg) no-repeat 95% 50%;
          padding: 10px 0px 10px 15px;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 22px;
          font-size: 14px;
          color: #84858C;
          width: calc(50% - 25px);
          border: 1px solid #E1E1E1;
          border-radius: 2px; }
          @media (max-width: 690px) {
            .banner .section-banner form .input .form-number {
              width: calc(100% - 17px);
              margin-right: 0px;
              margin-bottom: 0px; } }
          @media (max-width: 320px) {
            .banner .section-banner form .input .form-number {
              width: 253px;
              margin-right: 0px;
              margin-bottom: 15px; } }
      .banner .section-banner form .form-confirm {
        margin-bottom: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 22px;
        font-size: 14px;
        display: flex; }
        .banner .section-banner form .form-confirm .form-confirm-text {
          padding-left: 6px; }
          .banner .section-banner form .form-confirm .form-confirm-text a {
            color: #091220; }
      .banner .section-banner form .form-submit {
        width: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        line-height: 14px;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #439BFF;
        padding: 15px 0px;
        border: 0px;
        border-radius: 2px;
        cursor: pointer; }
        @media (max-width: 690px) {
          .banner .section-banner form .form-submit {
            width: 100%; } }
        @media (max-width: 320px) {
          .banner .section-banner form .form-submit {
            width: 270px; } }
        .banner .section-banner form .form-submit:hover {
          background-color: #00B2FF; }
        .banner .section-banner form .form-submit:active {
          background-color: #0077FF; }

[id^=form-checkbox] {
  display: none; }

[id^=form-checkbox] + label {
  display: block;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #C4CFDA;
  text-align: center; }

[id^=form-checkbox] + label:before {
  content: '\2713';
  display: inline-block;
  color: black;
  font-size: 18px;
  line-height: 15px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

[id^=form-checkbox]:checked + label:before {
  -webkit-transform: scale(1);
  transform: translateY(-1px); }

.icons {
  background-color: #439BFF; }
  .icons .section-icons {
    display: flex;
    padding-top: 140px;
    padding-bottom: 130px; }
    @media (max-width: 660px) {
      .icons .section-icons {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 35px; } }
    .icons .section-icons .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 130px; }
      @media (max-width: 1146px) {
        .icons .section-icons .item {
          margin-right: 30px; } }
      @media (max-width: 660px) {
        .icons .section-icons .item {
          margin-right: 0px;
          margin-bottom: 52px; }
          .icons .section-icons .item:last-child {
            margin-bottom: 0px; } }
      .icons .section-icons .item:last-child {
        margin-right: 0; }
      .icons .section-icons .item img {
        margin-bottom: 30px;
        max-width: 100%; }
        @media (max-width: 660px) {
          .icons .section-icons .item img {
            margin-bottom: 10px; } }
      .icons .section-icons .item p {
        color: #ffffff; }
      .icons .section-icons .item .item-title {
        font-family: 'PT Serif';
        line-height: 52px;
        font-size: 24px;
        text-align: center; }
        @media (max-width: 1024px) {
          .icons .section-icons .item .item-title {
            font-size: 28px; } }
        @media (max-width: 991px) {
          .icons .section-icons .item .item-title {
            font-size: 20px;
            line-height: 14px; } }
        @media (max-width: 660px) {
          .icons .section-icons .item .item-title {
            line-height: 30px;
            font-size: 24px; } }
      .icons .section-icons .item .item-text {
        font-family: 'PT Serif';
        line-height: 26px;
        font-size: 18px;
        text-align: center; }
        @media (max-width: 1024px) {
          .icons .section-icons .item .item-text {
            font-size: 14px; } }
        @media (max-width: 991px) {
          .icons .section-icons .item .item-text {
            font-size: 12px; } }
        @media (max-width: 660px) {
          .icons .section-icons .item .item-text {
            line-height: 22px;
            font-size: 14px; } }

.friendship .section-friendship {
  padding-top: 100px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 801px) {
    .friendship .section-friendship {
      padding-top: 20px;
      padding-bottom: 40px; } }
  .friendship .section-friendship .get-friends {
    font-family: 'PT Serif';
    line-height: 52px;
    font-size: 36px;
    color: #091220;
    margin-bottom: 90px;
    text-align: center; }
    @media (max-width: 801px) {
      .friendship .section-friendship .get-friends {
        line-height: 30px;
        font-size: 24px;
        margin-bottom: 30px; } }
  .friendship .section-friendship .items-block {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 801px) {
      .friendship .section-friendship .items-block {
        flex-direction: column; } }
    .friendship .section-friendship .items-block .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative; }
      @media (max-width: 801px) {
        .friendship .section-friendship .items-block .item {
          margin-bottom: 70px; }
          .friendship .section-friendship .items-block .item:last-child {
            margin-bottom: 0px; } }
      .friendship .section-friendship .items-block .item .arrow {
        position: absolute;
        top: 35px;
        left: 150%; }
        @media (max-width: 1024px) {
          .friendship .section-friendship .items-block .item .arrow {
            left: 100%; } }
        @media (max-width: 801px) {
          .friendship .section-friendship .items-block .item .arrow {
            visibility: hidden; } }
      .friendship .section-friendship .items-block .item .arrow_320 {
        position: absolute;
        display: none; }
        @media (max-width: 801px) {
          .friendship .section-friendship .items-block .item .arrow_320 {
            display: block;
            top: 150px; } }
      .friendship .section-friendship .items-block .item .pic {
        margin-bottom: 15px; }
      .friendship .section-friendship .items-block .item .number {
        font-family: 'PT Serif';
        line-height: 27px;
        font-size: 17px;
        color: #C4CFDA; }
      .friendship .section-friendship .items-block .item .item-text {
        font-family: 'PT Serif';
        line-height: 26px;
        font-size: 18px;
        color: #091220;
        text-align: center; }
        .friendship .section-friendship .items-block .item .item-text span {
          color: #439BFF;
          position: absolute;
          left: 15%; }
          @media (max-width: 801px) {
            .friendship .section-friendship .items-block .item .item-text span {
              position: static; } }

.faq {
  background-color: #f6f8fb; }
  .faq .section-faq {
    display: flex;
    flex-direction: column; }
    .faq .section-faq .faq-title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 55px;
      font-family: 'PT Serif';
      line-height: 52px;
      font-size: 36px;
      color: #091220; }
      @media (max-width: 690px) {
        .faq .section-faq .faq-title {
          line-height: 30px;
          font-size: 24px;
          text-align: center;
          margin-top: 23px;
          margin-bottom: 30px; } }
    .faq .section-faq .block-faq {
      display: flex;
      margin-bottom: 100px; }
      @media (max-width: 690px) {
        .faq .section-faq .block-faq {
          flex-direction: column;
          margin-bottom: 100px; }
          .faq .section-faq .block-faq:last-child {
            margin-bottom: 0px; } }
      .faq .section-faq .block-faq:last-child {
        margin-bottom: 50px; }
      .faq .section-faq .block-faq .question-faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px; }
        @media (max-width: 690px) {
          .faq .section-faq .block-faq .question-faq {
            margin-right: 0px;
            margin-bottom: 12px; } }
        .faq .section-faq .block-faq .question-faq .inst_link {
          line-height: 22px;
          font-size: 14px;
          text-decoration-line: underline;
          color: #091220; }
        .faq .section-faq .block-faq .question-faq .user-avatar {
          margin-bottom: 10px; }
        .faq .section-faq .block-faq .question-faq .user-name {
          margin-bottom: 8px;
          font-family: 'PT Serif';
          font-weight: bold;
          line-height: 27px;
          font-size: 17px;
          color: #091220; }
          @media (max-width: 1070px) {
            .faq .section-faq .block-faq .question-faq .user-name {
              font-size: 14px; } }
        .faq .section-faq .block-faq .question-faq .user-instagram {
          display: flex;
          align-items: center;
          text-decoration: none; }
          .faq .section-faq .block-faq .question-faq .user-instagram img {
            margin-right: 8px; }
          .faq .section-faq .block-faq .question-faq .user-instagram p {
            margin-bottom: 6px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 22px;
            font-size: 14px;
            color: #439BFF; }
            @media (max-width: 1070px) {
              .faq .section-faq .block-faq .question-faq .user-instagram p {
                font-size: 12px; } }
        .faq .section-faq .block-faq .question-faq .user-desc {
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 22px;
          font-size: 14px;
          color: #091220;
          text-align: center; }
          @media (max-width: 1070px) {
            .faq .section-faq .block-faq .question-faq .user-desc {
              font-size: 12px; } }
      .faq .section-faq .block-faq .block-quote {
        margin-right: 35px;
        display: flex;
        flex-direction: column; }
        @media (max-width: 690px) {
          .faq .section-faq .block-faq .block-quote {
            margin-right: 0; } }
        .faq .section-faq .block-faq .block-quote .question {
          font-family: 'PT Serif';
          line-height: 26px;
          font-size: 18px;
          color: #091220;
          background-color: #ffffff;
          padding: 20px 30px;
          border-radius: 2px;
          margin-bottom: 20px;
          position: relative;
          width: 430px;
          box-shadow: 0px 6px 6px rgba(0, 18, 39, 0.04); }
          @media (max-width: 1070px) {
            .faq .section-faq .block-faq .block-quote .question {
              width: 330px; } }
          @media (max-width: 690px) {
            .faq .section-faq .block-faq .block-quote .question {
              width: 70%; } }
          @media (max-width: 320px) {
            .faq .section-faq .block-faq .block-quote .question {
              width: 200px;
              padding: 10px 10px 10px 20px;
              line-height: 22px;
              font-size: 14px; } }
          .faq .section-faq .block-faq .block-quote .question:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -25px;
            top: 25px;
            border: 16px solid;
            border-color: transparent #fff #fff transparent; }
            @media (max-width: 690px) {
              .faq .section-faq .block-faq .block-quote .question:after {
                border: 12px solid;
                border-color: transparent #fff #fff transparent;
                left: -15px; } }
        .faq .section-faq .block-faq .block-quote .answer {
          margin-left: 180px;
          font-family: 'PT Serif';
          line-height: 30px;
          font-size: 24px;
          color: #ffffff;
          padding: 20px 30px;
          background: #439BFF;
          border-radius: 2px;
          position: relative;
          width: 500px; }
          @media (max-width: 1070px) {
            .faq .section-faq .block-faq .block-quote .answer {
              width: 450px;
              font-size: 18px;
              margin-left: 100px; } }
          @media (max-width: 991px) {
            .faq .section-faq .block-faq .block-quote .answer {
              width: 400px; } }
          @media (max-width: 930px) {
            .faq .section-faq .block-faq .block-quote .answer {
              width: 350px; } }
          @media (max-width: 850px) {
            .faq .section-faq .block-faq .block-quote .answer {
              width: 300px; } }
          @media (max-width: 690px) {
            .faq .section-faq .block-faq .block-quote .answer {
              padding: 10px 10px 10px 20px;
              width: 65%; } }
          @media (max-width: 410px) {
            .faq .section-faq .block-faq .block-quote .answer {
              margin-left: 70px;
              padding: 10px 10px 10px 20px;
              width: 62.5%; } }
          @media (max-width: 320px) {
            .faq .section-faq .block-faq .block-quote .answer {
              margin-left: 40px;
              line-height: 26px;
              font-size: 18px;
              padding: 10px 10px 10px 20px;
              width: 200px; } }
          .faq .section-faq .block-faq .block-quote .answer:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            right: -25px;
            top: 20px;
            border: 16px solid;
            border-color: #439BFF transparent transparent #439BFF; }
            @media (max-width: 690px) {
              .faq .section-faq .block-faq .block-quote .answer:after {
                border: 12px solid;
                border-color: #439BFF transparent transparent #439BFF;
                right: -15px; } }
      .faq .section-faq .block-faq .answer-faq {
        align-self: center; }
        @media (max-width: 800px) {
          .faq .section-faq .block-faq .answer-faq {
            display: none; } }

@media (max-width: 690px) {
  .faq .section-faq .block-faq .block-quote .question-short {
    width: 50%; } }

.call {
  background: url(../img/phone@2x.png) no-repeat 100% bottom;
  background-size: 748px 747px;
  border-bottom: 1px solid #EAECF6; }
  @media (max-width: 1150px) {
    .call {
      background: url(../img/phone@2x.png) no-repeat 200% bottom;
      background-size: 748px 747px; } }
  @media (max-width: 900px) {
    .call {
      background: none; } }
  .call .section-call {
    padding: 180px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; }
    @media (max-width: 900px) {
      .call .section-call {
        width: 100%; } }
    @media (max-width: 900px) {
      .call .section-call {
        align-items: flex-start; } }
    @media (max-width: 900px) {
      .call .section-call {
        padding: 90px 0 0 0; } }
    @media (max-width: 460px) {
      .call .section-call {
        padding-top: 45px; } }
    @media (max-width: 360px) {
      .call .section-call {
        padding-top: 20px; } }
    .call .section-call .slogan {
      font-family: 'PT Serif';
      line-height: 55px;
      font-size: 55px;
      color: #439BFF;
      margin-bottom: 75px;
      width: 500px;
      padding-left: 100px; }
      @media (max-width: 980px) {
        .call .section-call .slogan {
          width: auto;
          padding-left: 0px; } }
      @media (max-width: 690px) {
        .call .section-call .slogan {
          text-align: center; } }
      @media (max-width: 320px) {
        .call .section-call .slogan {
          line-height: 42px;
          font-size: 36px;
          margin-bottom: 15px; } }
    .call .section-call .title {
      font-family: 'PT Serif';
      line-height: 52px;
      font-size: 40px;
      color: #091220;
      margin-bottom: 25px;
      margin-right: 36px; }
      @media (max-width: 690px) {
        .call .section-call .title {
          text-align: center;
          margin-right: 0px; } }
      @media (max-width: 320px) {
        .call .section-call .title {
          line-height: 26px;
          font-size: 18px;
          margin-bottom: 30px;
          align-self: center; } }
    .call .section-call .item {
      font-family: "PT Serif";
      line-height: 26px;
      font-size: 22px;
      color: #091220;
      margin-bottom: 30px;
      background: url(../img/svg/icons-checked.svg) no-repeat left top;
      padding-left: 36px; }
      @media (max-width: 320px) {
        .call .section-call .item {
          line-height: 22px;
          font-size: 14px;
          padding-left: 40px; } }
    .call .section-call .item-last {
      margin-bottom: 0px;
      padding-bottom: 180px; }
      @media (max-width: 900px) {
        .call .section-call .item-last {
          padding-bottom: 90px; } }
      @media (max-width: 480px) {
        .call .section-call .item-last {
          padding-bottom: 25px; } }
    .call .section-call .phone {
      display: none;
      margin-bottom: 25px;
      margin-top: 25px;
      width: 270px;
      height: 542px; }
      @media (max-width: 480px) {
        .call .section-call .phone {
          display: block;
          align-self: center; } }

.partners {
  padding: 22px 0px 50px 0px; }
  @media (max-width: 460px) {
    .partners {
      padding: 15px 0px 22px 0px; } }
  @media (max-width: 690px) {
    .partners .wrapper {
      padding: 0px 22px 0px 22px;
      margin: 0;
      width: calc(100% - 44px); } }
  .partners .section-partners {
    display: flex;
    flex-direction: column; }
    .partners .section-partners .partners-title {
      text-align: center;
      font-family: 'PT Serif';
      line-height: 52px;
      font-size: 36px;
      color: #091220;
      margin-bottom: 50px; }
      @media (max-width: 320px) {
        .partners .section-partners .partners-title {
          line-height: 30px;
          font-size: 24px;
          margin-bottom: 15px; } }
    .partners .section-partners .pics {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 1200px) {
        .partners .section-partners .pics {
          flex-wrap: wrap; } }
      .partners .section-partners .pics .item {
        margin-right: 15px;
        height: auto; }
        .partners .section-partners .pics .item img {
          height: 66px;
          width: 150px; }
          @media (max-width: 690px) {
            .partners .section-partners .pics .item img {
              height: 57px;
              width: 130px; } }
        @media (max-width: 690px) {
          .partners .section-partners .pics .item {
            width: 130px;
            margin-right: 15px;
            margin-bottom: 7px; }
            .partners .section-partners .pics .item:nth-child(2n) {
              margin-right: 0px; } }
        .partners .section-partners .pics .item:last-child {
          margin-right: 0; }

.request {
  padding: 100px 0px;
  background-color: #0A182F; }
  @media (max-width: 460px) {
    .request {
      padding: 40px 0px 40px 0px; } }
  @media (max-width: 320px) {
    .request {
      padding: 27px 0px 30px 0px; } }
  .request .section-request {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .request .section-request .title {
      font-family: 'PT Serif';
      line-height: 52px;
      font-size: 36px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 50px; }
      @media (max-width: 320px) {
        .request .section-request .title .br {
          display: none; } }
      .request .section-request .title .br {
        display: none; }
        @media (max-width: 460px) {
          .request .section-request .title .br {
            display: block; } }
      @media (max-width: 460px) {
        .request .section-request .title {
          line-height: 40px;
          font-size: 20px; } }
      @media (max-width: 320px) {
        .request .section-request .title {
          line-height: 30px;
          font-size: 24px; } }
      .request .section-request .title span {
        color: #439BFF; }
    .request .section-request .get-request {
      font-family: 'PT Serif';
      line-height: 30px;
      font-size: 24px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 50px; }
      @media (max-width: 460px) {
        .request .section-request .get-request {
          line-height: 26px;
          font-size: 18px;
          margin-bottom: 10px; } }
    .request .section-request form {
      width: 580px; }
      @media (max-width: 690px) {
        .request .section-request form {
          width: 100%;
          padding: 17px 0px 0px 0px; } }
      @media (max-width: 320px) {
        .request .section-request form {
          width: 260px;
          border: none;
          box-shadow: none; } }
      .request .section-request form .input {
        margin-bottom: 20px;
        display: flex;
        width: 100%; }
        @media (max-width: 690px) {
          .request .section-request form .input {
            flex-direction: column;
            margin-bottom: 15px; } }
        .request .section-request form .input .form-name {
          background: url(../img/svg/icons-lock.svg) no-repeat 94% 50%;
          padding: 10px 0px 10px 15px;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 22px;
          font-size: 14px;
          color: #84858C;
          width: calc(50% - 25px);
          border: 1px solid #E1E1E1;
          border-radius: 2px;
          margin-right: 16px;
          background-color: #ffffff; }
          @media (max-width: 690px) {
            .request .section-request form .input .form-name {
              width: calc(100% - 15px);
              margin-right: 0px;
              margin-bottom: 20px; } }
          @media (max-width: 320px) {
            .request .section-request form .input .form-name {
              width: 253px;
              margin-right: 0px;
              margin-bottom: 20px; } }
        .request .section-request form .input .form-number {
          background: url(../img/svg/icons-lock.svg) no-repeat 95% 50%;
          padding: 10px 0px 10px 15px;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 22px;
          font-size: 14px;
          color: #84858C;
          width: calc(50% - 25px);
          border: 1px solid #E1E1E1;
          border-radius: 2px;
          background-color: #ffffff; }
          @media (max-width: 690px) {
            .request .section-request form .input .form-number {
              width: calc(100% - 17px);
              margin-right: 0px;
              margin-bottom: 0px; } }
          @media (max-width: 320px) {
            .request .section-request form .input .form-number {
              width: 253px;
              margin-right: 0px; } }
      .request .section-request form .form-confirm {
        margin-bottom: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 22px;
        font-size: 14px;
        color: #ffffff;
        display: flex; }
        .request .section-request form .form-confirm .form-confirm-text {
          padding-left: 6px; }
          .request .section-request form .form-confirm .form-confirm-text a {
            color: #ffffff; }
      .request .section-request form .form-submit {
        width: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        line-height: 14px;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #439BFF;
        padding: 15px 0px;
        border: 0px;
        border-radius: 2px;
        cursor: pointer; }
        @media (max-width: 690px) {
          .request .section-request form .form-submit {
            width: 100%; } }
        @media (max-width: 320px) {
          .request .section-request form .form-submit {
            width: 270px; } }
        .request .section-request form .form-submit:hover {
          background-color: #00B2FF; }
        .request .section-request form .form-submit:active {
          background-color: #0077FF; }

[id^=form-checkbox2] {
  display: none; }

[id^=form-checkbox2] + label {
  display: block;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #C4CFDA;
  text-align: center; }

[id^=form-checkbox2] + label:before {
  content: '\2713';
  display: inline-block;
  color: black;
  font-size: 18px;
  line-height: 15px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

[id^=form-checkbox2]:checked + label:before {
  -webkit-transform: scale(1);
  transform: translateY(-1px); }

/*---FOOTER---*/
.footer {
  background-color: #0A1320;
  padding: 45px 0; }
  @media (max-width: 320px) {
    .footer {
      padding: 25px 0 34px 0; } }
  .footer .section-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media (max-width: 690px) {
      .footer .section-footer {
        flex-direction: column;
        align-items: center; } }
    .footer .section-footer p {
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 22px;
      font-size: 14px;
      color: #C4CFDA; }
      @media (max-width: 690px) {
        .footer .section-footer p {
          text-align: center;
          margin-bottom: 35px; } }
    @media (max-width: 690px) {
      .footer .section-footer .footer-logo {
        margin-bottom: 35px; } }
  .footer .logo_div {
    min-width: 250px;
    display: flex;
    justify-content: center; }
  .footer .logo_div2 {
    min-width: 250px;
    display: flex;
    justify-content: flex-end; }
    .footer .logo_div2 img {
      width: 136px;
      height: 43px; }
    @media (max-width: 690px) {
      .footer .logo_div2 {
        justify-content: center; } }
