.partners {
    padding: 22px 0px 50px 0px;
    @media(max-width: 460px) {
        padding: 15px 0px 22px 0px;
    }
    .wrapper {
        @media(max-width: 690px) {
            padding: 0px 22px 0px 22px;
            margin: 0;
            width: calc(100% - 44px);
        }
    }
    .section-partners {
        display: flex;
        flex-direction: column;
        .partners-title {
            text-align: center;
            font-family: 'PT Serif';
            line-height: 52px;
            font-size: 36px;
            color: #091220;
            margin-bottom: 50px;
            @media(max-width: 320px) {
                line-height: 30px;
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
        .pics {
            display: flex;
            align-items: center;
            
            justify-content: center;
            @media(max-width: 1200px) {
                flex-wrap: wrap;
            }
            .item {
                margin-right: 15px; 
                // width: 100%;
                height: auto;
                img {
                    height: 66px;
                    width: 150px;
                    @media(max-width: 690px) {
                        height: 57px;
                        width: 130px;   
                    }
                }
                @media(max-width: 690px) {
                    width: 130px;
                    margin-right: 15px;
                    margin-bottom: 7px;
                    &:nth-child(2n) {
                        margin-right: 0px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}