.request {
    padding: 100px 0px;
    background-color: #0A182F;
    @media(max-width: 460px) {
        padding: 40px 0px 40px 0px;
    }
    @media(max-width: 320px) {
        padding: 27px 0px 30px 0px;
    }
    .section-request {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-family: 'PT Serif';
            line-height: 52px;
            font-size: 36px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 50px;
            .br {
                @media(max-width: 320px) {
                    display:none;
                }
            }
            .br {
                display: none;
                @media(max-width: 460px) {
                    display:block;
                }
            }
            
            @media(max-width: 460px) {
                line-height: 40px;
                font-size: 20px;
            }
            @media(max-width: 320px) {
                line-height: 30px;
                font-size: 24px;
            }
            span {
                color: #439BFF;
            }
        }
        .get-request {
            font-family: 'PT Serif';
            line-height: 30px;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 50px;
            @media(max-width: 460px) {
                line-height: 26px;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        form {
            width: 580px;
            @media(max-width: 690px) {
                width: 100%;
                padding: 17px 0px 0px 0px;
            }
            @media(max-width: 320px) { 
                width: 260px;
                border: none;
                box-shadow: none;
            }
            .input {
                margin-bottom: 20px;
                display: flex;
                width: 100%;
                @media(max-width: 690px) { 
                    flex-direction: column;
                    margin-bottom: 15px;
                }
                .form-name {
                    background: url(../img/svg/icons-lock.svg) no-repeat 94% 50%;
                    padding: 10px 0px 10px 15px;
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 22px;
                    font-size: 14px;
                    color: #84858C;
                    width: calc(50% - 25px);
                    border: 1px solid #E1E1E1;
                    border-radius: 2px;
                    margin-right: 16px;
                    background-color: #ffffff;
                    @media(max-width: 690px) { 
                        width: calc(100% - 15px);
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                    @media(max-width: 320px) { 
                        width: 253px;
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                }
                .form-number {
                    background: url(../img/svg/icons-lock.svg) no-repeat 95% 50%;
                    padding: 10px 0px 10px 15px;
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 22px;
                    font-size: 14px;
                    color: #84858C;
                    width: calc(50% - 25px);
                    border: 1px solid #E1E1E1;
                    border-radius: 2px;
                    background-color: #ffffff;
                    @media(max-width: 690px) { 
                        width: calc(100% - 17px);
                        margin-right: 0px;
                        margin-bottom: 0px;
                    }
                    @media(max-width: 320px) { 
                        width: 253px;
                        margin-right: 0px;
                    }
                }
            }
            .form-confirm {
                margin-bottom: 20px;
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 22px;
                font-size: 14px;
                color: #ffffff;
                display: flex;
                .form-checkbox {
                }
                .form-confirm-text {
                    padding-left: 6px;
                    a {
                        color: #ffffff;;
                    }
                }
            }
            .form-submit {
                width: 100%;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                line-height: 14px;
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                background-color: #439BFF;
                padding: 15px 0px;
                border: 0px;
                border-radius: 2px;
                cursor: pointer;
                @media(max-width: 690px) { 
                    width: 100%;
                }
                @media(max-width: 320px) { 
                    width: 270px;
                }
                &:hover {
                    background-color: #00B2FF;
                }
                &:active {
                    background-color: #0077FF;
                }
            }
        }
    }
}


[id^=form-checkbox2]{
    display: none;
}
[id^=form-checkbox2] + label{
    display: block;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #C4CFDA;
    text-align: center;    
}
[id^=form-checkbox2] + label:before{
    content: '\2713';
    display: inline-block;
    color: black;
    font-size: 18px;
    line-height: 15px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

[id^=form-checkbox2]:checked + label:before{    
    -webkit-transform: scale(1);
    // transform: scale(1);
    transform: translateY(-1px);
}